<div class="container">
  <h2>Khóa học của bạn</h1>
    <div class="row">
      <table class="table mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Khóa học</th>
            <th scope="col">Trình độ</th>
            <th scope="col" colspan="2">Cập nhật cuối cùng</th>
          </tr>
        </thead>
        <tbody>
          {{#each courses}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.levels}}</td>
            <td>{{this.updatedAt}}</td>
            <td>
              <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
              <a href="/courses/{{this._id}}" class="btn btn-link" data-toggle="modal" data-target="#checkDeleteModal"
                data-id="{{this._id}}">Xóa</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="checkDeleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này chứ!!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirm-delete">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId
    var formDeteleCourse = document.forms['delete-course-form']
    var btnDeteleCourse = document.getElementById('confirm-delete')

    $('#checkDeleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      courseId = button.data('id')// Extract info from data-* attributes
    })

  
    btnDeteleCourse.onclick = function () {
      formDeteleCourse.action ='/courses/' + courseId + '?_method=DELETE'
      formDeteleCourse.submit()
    }
  })

</script>